/* Contact.css */
.bottom-nav {
    position: fixed;
    bottom: 0;
    right: 0; /* Align to the right */
    background-color: transparent; /* Make background transparent */
    z-index: 100;
  }
  
  .bottom-nav-links {
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) */
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .social-icon {
    width: 32px; /* or the size you prefer */
    height: auto;
    margin-left: 10px; /* Add some space between icons */
  }
  