.video-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7.5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Initially transparent */
    transition: background-color 1s ease; /* Transition effect for background color */
}

video {
    width: 80%;
    height: 100%;
    object-fit: cover;
}
