.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    z-index: 999;
    height: 52px;
}

#title {
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 52px;
    cursor: pointer;
}

.navbar-icon {
    height: 42px;
    padding: 10px 12px;
}

#title a {
    display: contents;
    color: white;
}

#title span {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 12px 10px 2px;
    align-items: center;
}

#navlinks {
    padding-right: 16px;
    align-items: center;
    display: flex;
}

#navlinks a {
    margin-left: 5px;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transition: opacity 0.2s ease;
    color: white;
}

#navlinks a.active {
    text-decoration: underline;
    font-weight: bold;
    outline: none;
    color: #C3A761;
    opacity: 1;
}

#navlinks a:hover {
    color: burlywood;
}

.navbar-container {
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    z-index: 999;
    height: 52px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#demo-navlinks {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 78px;
    color: white;
    padding-right: 16px;
    align-items: center;
    display: flex;
    margin-left: 5px;
    padding: 0px 12px;
    font-size: 16px;
    border: none;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transition: opacity 0.2s ease;
    color: white;
}

#demo-navlinks a {
    margin-left: 5px;
    padding: 0px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transition: opacity 0.2s ease;
    color: white;
}


#demo-navlinks a:hover {
    color: burlywood;
}