table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table td {
    text-align: center;
}

.panel {
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.panel h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.panel p {
    font-size: 16px;
    line-height: 1.5;
}

.hide {
    display: none;
}

.clear {
    height: 42vh;
}

h1 {
    color: #EDBF6A;
}

.contact-email {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 16px;
}