body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('./../public/background.png') no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}