body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('./images/background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 108px); /* Adjusted height */
  padding-top: 26px; /* Half height of NavBar */
}

.centerItem {
  max-height: calc(100vh - 108px);
  width: 80%;
  align-items: center;
  justify-content: center;
}

.display-flex {
  display: flex;
}
